
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* shared style  */
*{
    font-family: "Work Sans", serif;
    font-family: "Open Sans", serif;
    margin: 0;
}

.btn-primary{
    background-color: #FF900E;
    color: #FFFFFF;
    height: 64px;
    width: 180;
    border-radius: 8px;
    border: none;
    padding: 21px 25px;
    font-weight: 600;
    font-size: 1.25rem;
    cursor: pointer;
}

/* header style */

header{
    background-color:  rgba(255, 144, 14, 0.1);
    padding: 50px 240px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 /* root a 16px thake so 3rem dile 16*3= 48px hobe fron size so ami 2.8 dilam ase 45px dea figma te */
.nav-title{
    font-size: 2.8rem;
    color: #131313;
    font-weight: 700;

}

nav > ul{
    display: flex;
}

nav  li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a{
    text-decoration: none;
    color: #424242;
}

.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner-description{
   
    color: #727272;
}

.banner img{
    width: 100%;
    margin-top: 20px;
}

/* main style */

main{
    max-width: 1440px; 
    margin: 0 auto;
}


.features-section{
    display: flex;
    justify-content: space-around;
   align-items: center;
   margin: 70px 0;
   
   
}

.img-containers{
    display: grid;
    /* grid-template-columns: auto auto; */
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}

.features-section img{
    width: 100%;
    border-radius: 8px;
}

.features-content{
    padding: 0px 70px 0px 70px;
    /* width: 600px; */
}

.list-features{

    color: #727272;
    font-size: 2.8rem;
    font-weight: 500;
    margin-bottom: 20px;

}

.features-details{
    color: #727272;
    margin-bottom: 20px;

}


/* facts section  */

.facts-section > h3{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;

}
.facts-section > p{
    color: #727272;
    font-weight: 400;
}

.facts{
    text-align: center;
    margin: 0 60px
}

.facts-image{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 100px 0;
   gap: 125px;
}

.image{
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 45px 40px 60px 40px;
}
.image > h3{
    color: #424242;
    font-size: 2.8rem;
    font-weight: 600;
}
.image > p{
    color: #727272;
    font-size: 1.2rem;
    font-weight: 600;
}
/* footer section */


footer{
    max-width: 1440px; 
    margin: 0 auto;
    text-align: center;

}

footer > h3{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
    margin: 20px 0;
}

footer > p {
    color: #727272;
    font-weight: 400;
    margin: 10px 0;
}

.footer-img{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    filter: grayscale(100%);
    margin: 30px ;

}

.copyright{
    padding: 40px 410px;
    text-align: center;
    color: #424242;
    font-size: 1.2;
    font-weight: 400;
    background-color:  rgba(255, 144, 14, 0.1);

}
/* responsive style */

/* mobile device */
@media screen and (max-width: 576px) {
    header,.facts-section,.img-containers {
        padding: 20px;
    }

    nav,  .features-section{
        flex-direction: column;
    }
    .facts-image{
       
        grid-template-columns: 1fr;
       
    }
   
    .footer-img{
        grid-template-columns: 1fr;
        gap: 30px;
    }
    .copyright{
        padding: 40px 10px;
        
    
    }

  
    
}

/* medium device  */

@media screen and (min-width:576px) and (max-width: 960px) {
    header,.facts-section,.img-containers {
        padding: 50px;
    }

    nav, .features-section{
        flex-direction: column;
    }
    .facts-image{
       
        grid-template-columns: repeat(2, 1fr);
       
    }
    .footer-img{
        grid-template-columns: repeat(3,1fr);
        gap: 30px;
    }
    .copyright{
        padding: 40px 60px;
        
        
    
    }
   

    
}